<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word counter</title>
</head>
<body>
    <h4>Contador de palavras e caracteres</h4>
    <form method="POST" action="{% url 'results' %}">
        {% csrf_token %}
        <textarea name="texto_para_processamento" cols="75" rows="10" placeholder="Digite o texto aqui..."></textarea>
        <button type="submit">Enviar</button>
    </form>
    <hr>
</body>
</html>